<%= render "top" %>
<div class="main">
	<div>
		<div class="center">
			<h2><%= @category.name %></h2>
		</div>
		<table class="forceCenter padTop10">
			<thead>
				<tr>
					<th>Id</th>
					<th>
						<span>Name</span>
						<span><%= link_to "\u25B2".encode('utf-8'), category_path + "/asc" %></span>
						<span><%= link_to "\u25BC".encode('utf-8'), category_path + "/desc" %></span>
					</th>
					<th>Price</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td><%= product.id %></td>
						<td><%= product.name %></td>
						<td><%= product.price %></td>
						<td><%= product.description %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="center">
	    <div class="padTop40">
	    	<%= will_paginate @products, :previous_label => "\u2B9C", :next_label => "\u2B9E" %>
	    </div>
	    <div class="padTop10">
		    <span>Products </span><%= @rangeLow %><span> ... </span><%= @rangeHigh %><span> of </span><%= @totalProducts %>
		</div>
	    <div class="padTop40">
	    	<%= link_to "Clear", root_path %>
	    </div>
	</div>
</div>